.cards{
  margin-top: 340px;
}
.card{
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  background-color: white;
  position: relative;
  padding: 80px 20px 20px 20px;
  margin-bottom: 25px;
  border-radius: 8px;
  background-image: url('https://images.unsplash.com/photo-1499638673689-79a0b5115d87?ixlib=rb-0.3.5&s=c2bda7051e27d974c68aaad5a9319f54&auto=format&fit=crop&w=400&q=80')
}

.show{
  height: 500px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
