.cocktail-form{
  color: #8E1D41;
  font-style: bold;
  margin-top: 70px;
  border: 1px dotted #8E1D41;
  padding: 40px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('https://images.unsplash.com/photo-1440713017205-02904f447e26?ixlib=rb-0.3.5&s=8d0290954b892f7fbdf7b3d4c4604f5f&auto=format&fit=crop&w=750&q=80');
  input{
    border-radius: 10px;
  }
  select{
    border-radius: 10px;
  }
}

.cocktail-form h1{
  font-size: 35px;
  font-style: bold;
  text-align: center;
  color: #8E1D41
}

.cocktail-form p{
  font-size: 20px;
  font-style: bold;
  text-align: center;
  color: #8E1D41
}

.submit{
  background-color: #8E1D41;
  width: 100px;
  border-radius: 10px;
  border: none;
  color: white
}

.form-field{
  border-radius: 10px
}

.ingredient-form{
  color: #8E1D41;
  margin-top: 70px;
  border: 1px dotted #8E1D41;
  padding: 40px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('https://images.unsplash.com/photo-1515243341494-3a22d891e192?ixlib=rb-0.3.5&s=d10f87e006d0a498c2cd84070cf834b7&auto=format&fit=crop&w=334&q=80');
  input{
    border-radius: 10px;
  }
  select{
    border-radius: 10px;
  }
}
