.fa-hand-point-left{
  color: #F6C667;
  opacity: 1
}

.fa-hand-point-left:hover{
  opacity: 0.6
}

.back{
  margin-top: 20px;
}

.fa-glass-martini{
  color:#8E1D41;
  opacity:1;
}

.fa-glass-martini:hover{
  opacity:0.4;
}

.fa-trash-alt{
  color:#F6C667;
  opacity:1;
}

.fa-trash-alt:hover{
  opacity:0.4
}

.fa-plus-square{
  color:#F6C667;
  opacity:1;
  size: 10px
}

.fa-plus-square:hover{
  opacity:0.5
}

a:-webkit-any-link {
  text-decoration: none
}
