<nav class="navbar-wagon">
  <h1 class="simple-header">MYxR</h1>
  <div class="navbar-wagon-right">
    <button class= "btn-medium btn-space"><%= link_to 'Add Cocktail', new_cocktail_path %></button>
    <form class="form-inline">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
